
<%= form_for :user, url: users_path do |f| %>
<div class="form-group">
    <label for="exampleInputTitle">Title Image</label>
   
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="exampleInputContent">Description</label>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
  	<label for="inputimage">Image</label>
  	<%= f.file_field :avatar, class: "form-control" %>
  </div>

  <%= f.submit 'Save Image', :class => 'btn btn-primary' %>
<% end %>
